NODE_ENV=''
PORT=''
DATABASE_URL= ""
IR54_DATABASE_URL= ""
TOMCAT_FILE_UPLOAD_URL= ""
TOMCAT_FILE_API_URL= ""
FILE_SERVER_BASE_URL= ""
AUTHENTICATION_HASH_SALT = ""
SENDGRID_API_KEY=''
SENDGRID_EMAIL_ID=''
AWS_REGION= ''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
