############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Terraform
############################
.terraform/
*.tfstate
*.tfstate.backup

############################
# Node
############################
node_modules/
.node_modules-*

############################
# Build Output
############################
build/
dist/

############################
# Lambda Archives
############################
*/lambda-functions/archive/*.zip

############################
# IDE
############################
.idea/
.vscode/

############################
# Reports
############################
reports/

############################
# Logs
############################
logs/
*.log

############################
# Environment Files
############################
.env
.env.*
!.env.example

############################
# Lock Files (Optional)
############################
yarn.lock